---
import Brain from "../icons/Brain.astro";
import { t } from "../i18n";
import type { Lang } from "../i18n";

const lang: Lang = Astro.url.pathname.startsWith("/en") ? "en" : "es";

const about = t(lang, "about");
---

<div class="py-12 lg:py-20 pb-16 mt-8 lg:mt-16">
  <div class="text-3xl font-semibold mb-8 flex gap-x-4 items-center text-center lg:text-left">
    <Brain class="size-6 text-blue-500" />
    <h2 class="text-2xl font-semibold">{about.title}</h2>
  </div>

  <p class="text-base sm:text-lg opacity-80 max-w-[700px] mt-4">
    {about.description}
  </p>

  <div class="mt-4">
    <h3 class="text-2xl font-semibold mb-3">{about.languagesTitle}</h3>
    <ul class="list-disc pl-5 text-lg">
      {about.languages.map(item => (
        <li>
          <strong>{item.label}:</strong> {item.value}
        </li>
      ))}
    </ul>
  </div>

  <div class="mt-4">
    <h3 class="text-2xl font-semibold mb-3">{about.skillsTitle}</h3>
    <ul class="list-disc pl-5 text-lg">
      {about.skills.map(item => (
        <li>
          <strong>{item.label}:</strong> {item.value}
        </li>
      ))}
    </ul>
  </div>
</div>
