---
import React from '../icons/React.astro'
import NET from '../icons/NET.astro'
import NestJS from '../icons/Nest.astro'
import SocketIO from '../icons/SocketIO.astro'
import NodeJS from '../icons/NodeJS.astro'
import C from '../icons/C.astro'
import Yarn from '../icons/Yarn.astro'
import Express from '../icons/Express.astro'
import Firebase from '../icons/Firebase.astro'

const TAGS = {
    REACT: {
        name: 'React',
        class: "bg-white text-black dark:bg-black dark:text-white border border-black dark:border-white hover:bg-black hover:text-white dark:hover:bg-white dark:hover:text-black transition-all duration-200 ease-in-out",
        icon: React,
    },
    NET: {
        name: '.NET',
        class: "bg-white text-black dark:bg-black dark:text-white border border-black dark:border-white hover:bg-black hover:text-white dark:hover:bg-white dark:hover:text-black transition-all duration-200 ease-in-out",
        icon: NET,
    },
    SOCKETIO: {
        name: 'Socket.IO',
        class: "bg-white text-black dark:bg-black dark:text-white border border-black dark:border-white hover:bg-black hover:text-white dark:hover:bg-white dark:hover:text-black transition-all duration-200 ease-in-out",
        icon: SocketIO,
    },
    NESTJS: {
        name: 'Nest.js',
        class: "bg-white text-black dark:bg-black dark:text-white border border-black dark:border-white hover:bg-black hover:text-white dark:hover:bg-white dark:hover:text-black transition-all duration-200 ease-in-out",
        icon: NestJS,
    },
    NODEJS: {
        name: 'Node.js',
        class: "bg-white text-black dark:bg-black dark:text-white border border-black dark:border-white hover:bg-black hover:text-white dark:hover:bg-white dark:hover:text-black transition-all duration-200 ease-in-out",
        icon: NodeJS,
    },
    C: {
        name: 'C#',
        class: "bg-white text-black dark:bg-black dark:text-white border border-black dark:border-white hover:bg-black hover:text-white dark:hover:bg-white dark:hover:text-black transition-all duration-200 ease-in-out",
        icon: C,
    },
      YARN: {
        name: 'Yarn',
        class: "bg-white text-black dark:bg-black dark:text-white border border-black dark:border-white hover:bg-black hover:text-white dark:hover:bg-white dark:hover:text-black transition-all duration-200 ease-in-out",
        icon: Yarn,
    },
    EXPRESS: {
        name: 'Express',
        class: "bg-white text-black dark:bg-black dark:text-white border border-black dark:border-white hover:bg-black hover:text-white dark:hover:bg-white dark:hover:text-black transition-all duration-200 ease-in-out",
        icon: Express,
    },
    FIREBASE: {
        name: 'Firebase',
        class: "bg-white text-black dark:bg-black dark:text-white border border-black dark:border-white hover:bg-black hover:text-white dark:hover:bg-white dark:hover:text-black transition-all duration-200 ease-in-out",
        icon: Firebase,
    },

    

}

const projects = [
  {
    key: 'tapnserve',
    link: 'http://TapNServe.click',
    github: 'https://github.com/ZarateBM/ClientTapNServe',
    image:'/TapNServe.png',
    tags: [TAGS.REACT, TAGS.SOCKETIO, TAGS.NESTJS, TAGS.NODEJS]
  },
  {
    key: 'pos',
    link: 'https://github.com/DilanSalas/PointOfSale',
    github: 'https://github.com/DilanSalas/PointOfSale',
    image:'/PointOfSale.png',
    tags: [TAGS.NET, TAGS.C]
  },
  {
    key: 'timegrid',
    link: 'https://timegrid-timegridapp-eeajbv-a4786f-145-223-74-28.traefik.me/',
    github: 'https://github.com/DilanSalas/TimeGrid',
    image:'/LogoTimeGrid.png',
    tags: [TAGS.REACT, TAGS.NODEJS, TAGS.EXPRESS]
  },
  {
    key: 'smilenotes',
    link: 'https://smile-notes-dilansalas-projects.vercel.app/',
    github: 'https://github.com/DilanSalas/journal-app',
    image:'/SmileNotes1.png',
    tags: [TAGS.REACT, TAGS.NODEJS, TAGS.FIREBASE]
  }
];

---
{projects.map(({ key, link, github, image, tags }) => (
  <article class="flex flex-col gap-4 mb-8">

    <h3
      class="text-2xl font-semibold"
      data-i18n={`projects.${key}.title`}
    >
      Project Title
    </h3>

    <p
      class="text-lg text-pretty"
      data-i18n={`projects.${key}.description`}
    >
      Project description
    </p>

    <ul class="flex flex-wrap gap-2">
      {tags.map(tag => (
        <li class={`inline-flex items-center gap-2 ${tag.class} rounded-full py-1 px-3`}>
          <tag.icon class="size-6" />
          <span class="text-xs font-medium">{tag.name}</span>
        </li>
      ))}
    </ul>

    {image && (
      <img
        class="rounded shadow-2xl shadow-white/10"
        src={image}
        alt="Project screenshot"
      />
    )}

    <div class="flex gap-4">
      <a
        href={link}
        class="inline-flex items-center gap-2 px-4 py-2 text-sm font-medium bg-white/5 rounded-full hover:scale-110 hover:bg-white/10"
        target="_blank"
      >
        <h1 data-i18n="VisitProject">Visit Project</h1>
      </a>

      <a
        href={github}
        class="inline-flex items-center gap-2 px-4 py-2 text-sm font-medium bg-white/5 rounded-full hover:scale-110 hover:bg-white/10"
        target="_blank"
      >
        <h1 data-i18n="ViewCode">View Code</h1>
      </a>
    </div>

  </article>
))}
